
body {
    background: #d0d8e0;
    min-width: 370px;


}

.container {
    margin-top: 60px;
    background: white;
    min-height: 100%;
}

.col-md-12 {

    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

}

#comparison .col-md-6 {
    background-color: #f7f7f7;
    z-index: 0;
}


.logo {
    display: block;
    margin: 0 auto;
}

.pic {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 300px;
    border: 4px solid white;
    z-index:  -1;
}



.pic:hover {
    -webkit-filter: grayscale(100%); /* Safari */
    filter: grayscale(100%);
    z-index: 1;

}

.logo h6 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: -25px;
    letter-spacing: 15px;

}

.logo a {
    text-decoration: none;
    color: black;

}

.logo a:hover {
    color: green;
}

.logo a img:hover{
    opacity: 0.9;
}



/* Leaderboard */

table img {
    max-width: 100px;
}

td {
    vertical-align: middle  !important;
}

#leaderboards .col-md-6  {
    margin: auto;
}

#leaderboards .col-md-6  a {
    width: 100%;
    margin-bottom: 20px;
}



/* upload */
#upload {
    text-align: center;
    background-color: #F7F7F7;
}

#upload input {

    margin: 5px;
    text-align: center;
}

#upload .col-md-6 {
    display: block;
    margin: auto;
    padding-bottom: 30px;
}

